<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome</title>
		<meta http-equiv="refresh" content="15; url=/">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="../static/css/android.css">
	</head>
	<body>
		<form action="/" method="post">
			<section class="b1">	
				<div class="in1">
					<div class="content">
						<h3>Message recieved from the Application</h3>
						<h1>{{sent_value}}</h1><br>
					</div>
				</div>
			</section>
		</form>
	</body>
</html>

